 
*{
    margin:0;
    padding:0;
    box-sizing: box-border;
    text-align: center;
}

body{
    background-color: aquamarine;
}

header{
    background:rgb(238, 229, 218);
    padding: 20px;
}

header > h1{
    color:rgb(75, 51, 19);
    font-size: 70px;
}

.result{
    font-size: 25px;  
    padding: 12px;
}

.press-text{
    background:rgb(71, 24, 133);
    background-color:rgb(180, 167, 167); 
    font-size: 32px;  
    padding: 10px;
}

.newgamebutton {
    background-color:rgb(38, 151, 204);
    border: none;
    color:whitesmoke;
    padding: 30px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.staybutton{
    background-color:rgb(38, 151, 204);
    border: none;
    color:whitesmoke;
    padding: 30px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}

.hitbutton{
    background-color:rgb(38, 151, 204);
    border: none;
    color:whitesmoke;
    padding: 30px 75px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}